<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Ulven Test
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Ulven Test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-item>
      <ion-input type="text" [(ngModel)]="dataURL"></ion-input>
      <ion-button (click)="grabData()">Grab Sentence</ion-button>
    </ion-item>
    <div *ngIf="apiCallInvalid">Oops! Invalid API Response, it should contain "description" key</div>
    <form [formGroup]="formHandler" (ngSubmit)="doSubmit(formHandler.value)" class="login-form" action="#" method="post">
      <ion-label><p>or enter sentence below</p> </ion-label>

      <ion-item>
        <ion-textarea formControlName="textControl" placeholder="Enter more information here..." required autofocus auto-grow="true"></ion-textarea>
      </ion-item>
      <div class="submit-container">
          <ion-button type="submit">Process</ion-button>
      </div>
    </form>

  </div>
  <div>
    <ion-chip *ngFor="let word of wordList" color="dark">{{word?.word}}<ion-badge color="light">{{word?.occurence}}</ion-badge></ion-chip>
  </div>
</ion-content>
